crd-esb-deploy/crda-esb/src/main/osb_11g_code/telus-crd-crda-esb/wsdls/ais/AccountInformationServiceRequestResponse_v3_5.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/AccountInformationServiceRequestResponse_v3" xmlns:acc="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/AccountInformationTypes_v2" xmlns:avalon="http://schemas.telus.com/avalon/common/v1_0" xmlns:common="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/CustomerManagementCommonTypes_v3" xmlns:ect="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/EnterpriseCommonTypes_v8" xmlns:tns="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/AccountInformationServiceRequestResponse_v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/AccountInformationTypes_v2" schemaLocation="AccountInformationTypes_v2_3.xsd"/>
    <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/CustomerManagementCommonTypes_v3" schemaLocation="CustomerManagementCommonTypes_v3_0.xsd"/>
    <xsd:import namespace="http://schemas.telus.com/avalon/common/v1_0" schemaLocation="AvalonCommonSchema_v1_0.xsd"/>
    <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/EnterpriseCommonTypes_v8" schemaLocation="EnterpriseCommonTypes_v8_0.xsd"/>
    <xsd:element name="getAccountByAccountNumber">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getAccountByAccountNumberResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="account" type="acc:Account"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getAccountByPhoneNumber">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="phoneNumber" type="common:PhoneNumber"/>
                <xsd:element minOccurs="0" name="phoneNumberSearchOption" type="tns:PhoneNumberSearchOption">
                    <xsd:annotation>
                        <xsd:documentation>The searching can be expanded
                            to Voip phone number as well via specifying
                            the search option flags</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getAccountByPhoneNumberResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="account" type="acc:Account"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getAccountListByAccountNumbers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1000" name="billingAccountNumber" type="common:AccountNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getAccountListByAccountNumbersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1000" minOccurs="0" name="account" type="acc:Account"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getAccountListByIMSI">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IMSI" type="common:IMSIType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getAccountListByIMSIResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1000" minOccurs="0" name="account" type="acc:Account"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getEmailAddress">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getEmailAddressResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="emailAddress" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateEmailAddress">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
                <xsd:element name="emailAddress" type="xsd:string"/>
                <xsd:element default="false" minOccurs="0" name="notificationSuppressionInd" type="xsd:boolean"/>
                <xsd:element minOccurs="0" name="auditInfo" type="ect:AuditInfo"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateEmailAddressResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getInvoicePropertyList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getInvoicePropertyListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="invoicePropertyList" type="acc:InvoicePropertyListType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateInvoicePropertyList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
                <xsd:element name="invoicePropertyList" type="acc:InvoicePropertyListType"/>
                <xsd:element default="false" minOccurs="0" name="notificationSuppressionInd" type="xsd:boolean"/>
                <xsd:element minOccurs="0" name="auditInfo" type="ect:AuditInfo"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateInvoicePropertyListResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBillingInformation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBillingInformationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingPropertyList" type="acc:BillingPropertyListType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateContactInformation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
                <xsd:element name="contactPropertyList" type="acc:ContactPropertyListType"/>
                <xsd:element default="false" minOccurs="0" name="notificationSuppressionInd" type="xsd:boolean"/>
                <xsd:element minOccurs="0" name="auditInfo" type="ect:AuditInfo"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateContactInformationResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getContactInformation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getContactInformationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="contactPropertyList" type="acc:ContactPropertyListType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBillCyclePropertyList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBillCyclePropertyListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billCyclePropertyList" type="acc:BillCyclePropertyListType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createMemo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
                <xsd:element name="memo" type="acc:AccountMemo"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createMemoResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getLastMemo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
                <xsd:element name="memoType" type="common:MemoType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getLastMemoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="lastMemo" type="common:Memo"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="checkInternationalServiceEligibility">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="checkInternationalServiceEligibilityResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="checkInternationalServiceEligibilityResponse" type="acc:InternationalServiceEligibilityCheckResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getPersonalCreditInformation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getPersonalCreditInformationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="personalCreditInformation" type="common:PersonalCreditInformation"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBusinessCreditInformation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBusinessCreditInformationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="businessCreditInformation" type="common:BusinessCreditInformation"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="CreditCardValidationType">
        <xsd:sequence>
            <xsd:element name="validateCreditCardInd" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="businessRole" type="common:BusinessRole"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="updatePaymentMethod">
        <xsd:annotation>
            <xsd:documentation>Only applies to postpaid subscribers.
                For prepaid subscribers use equivalent prepaid
                operations: registerTopUpCreditCard, removeTopUpCreditCard</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
                <xsd:element name="paymentMethod" type="common:PaymentMethod"/>
                <xsd:element name="paymentMethodValidation" type="tns:CreditCardValidationType"/>
                <xsd:element default="false" minOccurs="0" name="notificationSuppressionInd" type="xsd:boolean"/>
                <xsd:element minOccurs="0" name="auditInfo" type="ect:AuditInfo"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updatePaymentMethodResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="authorization" type="common:PaymentMethodAuthorizationType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="registerTopUpCreditCard">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
                <xsd:element name="creditCard" type="common:CreditCard"/>
                <xsd:element name="creditCardValidation" type="tns:CreditCardValidationType"/>
                <xsd:element default="false" minOccurs="0" name="notificationSuppressionInd" type="xsd:boolean"/>
                <xsd:element minOccurs="0" name="auditInfo" type="ect:AuditInfo"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="registerTopUpCreditCardResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="authorization" type="common:PaymentMethodAuthorizationType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="removeTopUpCreditCard">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="removeTopUpCreditCardResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="FollowUpRequest">
        <xsd:sequence>
            <xsd:element name="followUpType" type="common:MemoType"/>
            <xsd:element name="dueDate" type="xsd:date"/>
            <xsd:element name="followUpText" nillable="true" type="xsd:string"/>
            <xsd:element name="assignedToWorkPositionId" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="createFollowUp">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
                <xsd:element name="followUp" type="tns:FollowUpRequest"/>
                <xsd:element default="false" name="asyncInd" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createFollowUpResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getSubscriberEligibilitySupportingInfo">
        <xsd:annotation>
            <xsd:documentation>This operation provides ability to
                retrieve supporting data required by add-on subscriber
                eligibility check. Expected consumer is Risk Management team.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
                <xsd:element maxOccurs="1000" minOccurs="0" name="memoTypeList" type="common:MemoType"/>
                <xsd:element name="dateFrom" type="xsd:date"/>
                <xsd:element name="dateTo" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getSubscriberEligibilitySupportingInfoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1000" minOccurs="0" name="memoList" type="common:Memo">
                    <xsd:annotation>
                        <xsd:documentation>Will return the last memo for
                            each given memo type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalPaymentAmount" type="common:PaymentAmount">
                    <xsd:annotation>
                        <xsd:documentation>Will return sum of actual
                            amounts in customer payment history from
                            account creation time to present.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalDepositHeld" type="common:PaymentAmount">
                    <xsd:annotation>
                        <xsd:documentation>Will return sum of actual
                            deposit paid amount in customer deposit
                            history from account creation time to
                            present (Excluding any returned deposit).</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UserHeader" type="avalon:OriginatingUserType"/>
    <xsd:element name="getCustomerNotificationPreferenceList">
        <xsd:annotation>
            <xsd:documentation>This operation provides ability to
                retrieve no contact type(s) for a given subscriber.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getCustomerNotificationPreferenceListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="50" minOccurs="0" name="notificationPreferenceList" type="tns:CustomerNotificationPreferenceType">
                    <xsd:annotation>
                        <xsd:documentation>List of no contact type(s)
                            for a given subscriber. If user accept all
                            contact types, no record will be returned.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateCustomerNotificationPreferenceList">
        <xsd:annotation>
            <xsd:documentation>This operation provides ability to update
                preferred contact type(s) for a given subscriber.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
                <xsd:element maxOccurs="50" minOccurs="0" name="notificationPreferenceList" type="tns:CustomerNotificationPreferenceUpdateType">
                    <xsd:annotation>
                        <xsd:documentation>List of no contact type(s)
                            for a given subscriber to be updated base on
                            the updateModeCode. The operation will
                            return with error code if updateModeCode is
                            not set or is set incorrectly.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateCustomerNotificationPreferenceListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="responseMessage" type="ect:ResponseMessage"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="CustomerNotificationPreferenceType">
        <xsd:sequence>
            <xsd:element minOccurs="1" name="code" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Customer preference indicator
                        type code.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="description" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Customer preference indicator
                        type description. For TELUS consumer accounts,
                        clientConsentIndicatorCode will not return a
                        correct value due to CMP project change in Oct
                        2016. To retrieve correct preference setting
                        please call ECPMS service with a valid UUID for
                        all TELUS consumer accounts.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CustomerNotificationPreferenceUpdateType">
        <xsd:complexContent>
            <xsd:extension base="tns:CustomerNotificationPreferenceType">
                <xsd:sequence>
                    <xsd:element minOccurs="1" name="updateModeCode" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Update mode.
                                "I" for insert and
                                "D" for delete.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="getNextSeatGroupId">
        <xsd:annotation>
            <xsd:documentation>This operation retrieves the next
                generated seat group id. This is internally to CODS DB
                to retrieve uniquely generated oracle sequence.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getNextSeatGroupIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="seatGroupId" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getMaxVoipLineList">
        <xsd:annotation>
            <xsd:documentation>This operation retrieves the max voip
                line capacity info based on the account, and
                subscription id if any</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
                <xsd:element minOccurs="0" name="subscriptionId" type="common:SubscriptionId"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getMaxVoipLineListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="maxVoipLineList" type="tns:MaxVoipLineType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createMaxVoipLine">
        <xsd:annotation>
            <xsd:documentation>This operation creates the max voip line
                info corresponding to the account and starter seat.
                There is no logic in the operation to validate the
                subscription id as to if it’s a starter seat or not ,
                it’s a pure SQL insert.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="maxVoipLine" type="tns:MaxVoipLineBaseType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createMaxVoipLineResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateMaxVoipLineList">
        <xsd:annotation>
            <xsd:documentation>This operation updates the max voip line
                info corresponding to the account and starter seat.
                There is no logic in the operation to validate the
                subscription id as to if it’s a starter seat or not ,
                it’s a pure SQL update.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="maxVoipLineList" type="tns:MaxVoipLineBaseType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateMaxVoipLineListResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="MaxVoipLineBaseType">
        <xsd:sequence>
            <xsd:element minOccurs="1" name="billingAccountNumber" type="common:AccountNumber"/>
            <xsd:element minOccurs="1" name="subscriptionId" type="common:SubscriptionId"/>
            <xsd:element minOccurs="1" name="maxVoipLineNumber" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MaxVoipLineType">
        <xsd:complexContent>
            <xsd:extension base="tns:MaxVoipLineBaseType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="effectiveStartDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="effectiveEndDate" type="xsd:date"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PhoneNumberSearchOption">
        <xsd:sequence>
            <xsd:element default="true" minOccurs="0" name="searchWirelessInd" type="xsd:boolean"/>
            <xsd:element default="false" minOccurs="0" name="searchVoipInd" type="xsd:boolean"/>
            <xsd:element default="false" minOccurs="0" name="searchTollFreeInd" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>