crd-esb-deploy/crda-esb/src/main/osb_11g_code/telus-crd-crda-esb/wsdls/ais/ping_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    targetNamespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
    version="1.0"
    xmlns:tns="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pingResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="version" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ping">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
</xs:schema>