crd-documentum-ws-deploy/crd-documentum-wsdl/src/main/resources/wsdls/CreditDocumentumSvc_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:shttp="http://soa.com/wsdl/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/CreditDocumentumSvc_1" xmlns:crddctm="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/CreditDocumentumSvcRequestResponse_v1" targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/CreditDocumentumSvc_1">
	<wsdl:types>
		<xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/CreditDocumentumSvc_1">
			<xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/CreditDocumentumSvcRequestResponse_v1" schemaLocation="CreditDocumentumSvcRequestResponse_v1_0.xsd"/>
			<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
			<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="saveBureuaReportDocument">
		<wsdl:part name="parameters" element="crddctm:saveBureuaReportDocument"/>
	</wsdl:message>
	<wsdl:message name="saveBureuaReportDocumentResponse">
		<wsdl:part name="result" element="crddctm:saveBureuaReportDocumentResponse"/>
	</wsdl:message>
	<wsdl:message name="retrieveBureuaReportDocument">
		<wsdl:part name="parameters" element="crddctm:retrieveBureuaReportDocument"/>
	</wsdl:message>
	<wsdl:message name="retrieveBureuaReportDocumentResponse">
		<wsdl:part name="result" element="crddctm:retrieveBureuaReportDocumentResponse"/>
	</wsdl:message>
	<wsdl:message name="ping">
		<wsdl:part name="parameters" element="ping:ping"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="result" element="ping:pingResponse"/>
	</wsdl:message>
	<wsdl:message name="ServiceException">
		<wsdl:part name="fault" element="ex:ServiceException"/>
	</wsdl:message>
	<wsdl:portType name="CreditDocumentumSvc_v1_0_PortType">
		<wsdl:operation name="saveBureuaReportDocument">
			<wsdl:input message="iface:saveBureuaReportDocument"/>
			<wsdl:output message="iface:saveBureuaReportDocumentResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="retrieveBureuaReportDocument">
			<wsdl:input message="iface:retrieveBureuaReportDocument"/>
			<wsdl:output message="iface:retrieveBureuaReportDocumentResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input message="iface:ping"/>
			<wsdl:output message="iface:pingResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CreditDocumentumSvc_v1_0_SOAP" type="iface:CreditDocumentumSvc_v1_0_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="saveBureuaReportDocument">
			<wsdl:documentation>Save a document in document repository</wsdl:documentation>
			<soap:operation soapAction="saveBureuaReportDocument"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveBureuaReportDocument">
			<wsdl:documentation>Enables getting a credit report</wsdl:documentation>
			<soap:operation soapAction="retrieveBureuaReportDocument"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:documentation/>
			<soap:operation soapAction="ping"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CreditDocumentumSvc_v1_0">
		<wsdl:port name="CreditDocumentumSvcPort" binding="iface:CreditDocumentumSvc_v1_0_SOAP">
			<soap:address location="https://cm-smbsvc-west-dv01.tsl.telus.com/CMO/OrderMgmt/CreditDocumentum/CreditDocumentumSvc_v1_0"/>
		</wsdl:port>
	</wsdl:service>
	<!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				-->
</wsdl:definitions>
