crd-esb-deploy/emheader-esb/src/main/GenWsdlJar/wsdls/EMRoutingService_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/EMRoutingService_1" 


xmlns:emrt="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/EMRoutingServiceRequestResponse_v1" name="EMRoutingService_v1_0.wsdl" targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/EMRoutingService_1">
	<wsdl:documentation>EMRoutingService.for getting em header.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/EMRoutingService_1">
			<xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/EMRoutingServiceRequestResponse_v1" schemaLocation="EMRoutingServiceRequestResponse_v1_0.xsd"/>
			<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
			<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getEmHeader">
		<wsdl:part name="parameters" element="emrt:getEmHeader"/>
	</wsdl:message>
	<wsdl:message name="getEmHeaderResponse">
		<wsdl:part name="result" element="emrt:getEmHeaderResponse"/>
	</wsdl:message> 
	<wsdl:message name="getAllEmHeader">
		<wsdl:part name="parameters" element="emrt:getAllEmHeader"/>
	</wsdl:message>
	<wsdl:message name="getAllEmHeaderResponse">
		<wsdl:part name="result" element="emrt:getEmHeaderResponse"/>
	</wsdl:message>
	<wsdl:message name="ping">
		<wsdl:part name="parameters" element="ping:ping"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="result" element="ping:pingResponse"/>
	</wsdl:message>
	<wsdl:message name="ServiceException">
		<wsdl:part name="fault" element="ex:ServiceException"/>
	</wsdl:message>
	<wsdl:message name="PolicyException">
		<wsdl:part name="fault" element="ex:PolicyException"/>
	</wsdl:message>
	<wsdl:portType name="EMRoutingService_v1_0_PortType">
		<wsdl:operation name="getEmHeader">
			<wsdl:input message="iface:getEmHeader"/>
			<wsdl:output message="iface:getEmHeaderResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="getAllEmHeader">
			<wsdl:input message="iface:getAllEmHeader"/>
			<wsdl:output message="iface:getAllEmHeaderResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input message="iface:ping"/>
			<wsdl:output message="iface:pingResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EMRoutingService_v1_0_SOAP" type="iface:EMRoutingService_v1_0_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getEmHeader">
			<wsdl:documentation>Operation to get a emheader by em header name as defined in the em header config file  .</wsdl:documentation>
			<soap:operation soapAction="getEmHeader"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAllEmHeader">
			<wsdl:documentation>Operation to get all emheader defined in the em header config file .</wsdl:documentation>
			<soap:operation soapAction="getAllEmHeader"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:documentation/>
			<soap:operation soapAction="ping"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EMRoutingService_v1_0">
		<wsdl:port name="EMRoutingServicePort" binding="iface:EMRoutingService_v1_0_SOAP">
			<soap:address location="http://customermanagementwestesb-dv01.tsl.telus.com/CMO/OrderMgmt/EMRoutingService/EMRoutingService_v1_0"/>
		</wsdl:port>
	</wsdl:service>
	<!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			-->
</wsdl:definitions>
