wlsprflmgt-ws-deploy/wlsprfldmgt-wsdl/src/main/resources/wsdls/WLSCreditProfileDataManagementSvc_v2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/WLSCreditProfileDataManagementSvc_2"
                  xmlns:wcpm="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLSCreditProfileDataManagementSvcRequestResponse_v2"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WLSCreditProfileDataManagementSvc_2"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WLSCreditProfileDataManagementSvc_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLSCreditProfileDataManagementSvcRequestResponse_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLSCreditProfileDataManagementSvcRequestResponse_v2_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="updateWlsConsumerCreditProfile">
      <wsdl:part name="parameters" element="wcpm:updateWlsConsumerCreditProfile"/>
   </wsdl:message>
   <wsdl:message name="updateWlsConsumerCreditProfileResponse">
      <wsdl:part name="result" element="wcpm:updateWlsConsumerCreditProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="WLSCreditProfileDataManagementSvc_v2_0_PortType">
      <wsdl:operation name="updateWlsConsumerCreditProfile">
         <wsdl:input message="iface:updateWlsConsumerCreditProfile"/>
         <wsdl:output message="iface:updateWlsConsumerCreditProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="WLSCreditProfileDataManagementSvc_v2_0_SOAP"
                 type="iface:WLSCreditProfileDataManagementSvc_v2_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="updateWlsConsumerCreditProfile">
         <wsdl:documentation>Update the wireless Credit Profile IDs in KB and CCON DB.
		IO Phase 2 (CR581482):
		   Add optional RemoveCreditIdentificationInfo complex type to indicate removal of credit ids ( Driving License, SIN). This will set the credit id to empty value in KB and CCON DB.
		   Service will no longer accept empty value or zero( or zeros ) for credit ids. It will throw policy exception with the appropriate error code.
		</wsdl:documentation>
         <soap:operation soapAction="updateWlsConsumerCreditProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="WLSCreditProfileDataManagementSvc_v2_0">
      <wsdl:port name="WLSCreditProfileDataManagementSvcPort"
                 binding="iface:WLSCreditProfileDataManagementSvc_v2_0_SOAP">
         <soap:address location="http://cmf-ordermgmt-dv103.tmi.telus.com/CMO/OrderMgmt/WLSCreditProfileDataManagementService/WLSCreditProfileDataManagementSvc_v2_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>