crd-esb-deploy/crda-esb/src/main/osb_11g_code/telus-crd-crda-esb/wsdls/ConsumerDiaryService_v1_1.wsdl

<WL5G3N0:definitions name="ConsumerDiaryService_v1_1.wsdl" targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerDiaryService_1" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/ConsumerDiaryServiceRequestResponse_v1" xmlns:WL5G3N2="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:WL5G3N3="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" xmlns:WL5G3N4="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerDiaryService_1" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:documentation>
			The Diary Service is a system of Consumer log entries.  Logs can be manually entered by agents,
			or automatically generated by the calling applications.  Diary also allows logs generated in external applications
			being transfered in to this system
		</WL5G3N0:documentation>
  <WL5G3N0:types>
    <xs:schema targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerDiaryService_1" xmlns:ds="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/ConsumerDiaryServiceRequestResponse_v1" xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" xmlns:iface="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerDiaryService_1" xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/ConsumerDiaryServiceRequestResponse_v1" schemaLocation="ConsumerDiaryServiceRequestResponse_v1_1.xsd"/>
      <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" schemaLocation="Exceptions_v1_0.xsd"/>
      <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" schemaLocation="ping_v1.xsd"/>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="createCustomerEvent">
    <WL5G3N0:part element="WL5G3N1:createCustomerEvent" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="createCustomerEventResponse">
    <WL5G3N0:part element="WL5G3N1:createCustomerEventResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="updateCustomerEventList">
    <WL5G3N0:part element="WL5G3N1:updateCustomerEventList" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="updateCustomerEventListResponse">
    <WL5G3N0:part element="WL5G3N1:updateCustomerEventListResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="findCustomerEventSummaryList">
    <WL5G3N0:part element="WL5G3N1:findCustomerEventSummaryList" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="findCustomerEventSummaryListResponse">
    <WL5G3N0:part element="WL5G3N1:findCustomerEventSummaryListResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="findCustomerEventDetailList">
    <WL5G3N0:part element="WL5G3N1:findCustomerEventDetailList" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="findCustomerEventDetailListResponse">
    <WL5G3N0:part element="WL5G3N1:findCustomerEventDetailListResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="findCustomerEventPaginatedList">
    <WL5G3N0:part element="WL5G3N1:findCustomerEventPaginatedList" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="findCustomerEventPaginatedListResponse">
    <WL5G3N0:part element="WL5G3N1:findCustomerEventPaginatedListResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ping">
    <WL5G3N0:part element="WL5G3N2:ping" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="pingResponse">
    <WL5G3N0:part element="WL5G3N2:pingResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ServiceException">
    <WL5G3N0:part element="WL5G3N3:ServiceException" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="PolicyException">
    <WL5G3N0:part element="WL5G3N3:PolicyException" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="ConsumerDiaryService_v1_1_PortType">
    <WL5G3N0:operation name="createCustomerEvent">
      <WL5G3N0:input message="WL5G3N4:createCustomerEvent"/>
      <WL5G3N0:output message="WL5G3N4:createCustomerEventResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
      <WL5G3N0:fault message="WL5G3N4:PolicyException" name="PolicyException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="updateCustomerEventList">
      <WL5G3N0:input message="WL5G3N4:updateCustomerEventList"/>
      <WL5G3N0:output message="WL5G3N4:updateCustomerEventListResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
      <WL5G3N0:fault message="WL5G3N4:PolicyException" name="PolicyException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="findCustomerEventSummaryList">
      <WL5G3N0:input message="WL5G3N4:findCustomerEventSummaryList"/>
      <WL5G3N0:output message="WL5G3N4:findCustomerEventSummaryListResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
      <WL5G3N0:fault message="WL5G3N4:PolicyException" name="PolicyException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="findCustomerEventDetailList">
      <WL5G3N0:input message="WL5G3N4:findCustomerEventDetailList"/>
      <WL5G3N0:output message="WL5G3N4:findCustomerEventDetailListResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
      <WL5G3N0:fault message="WL5G3N4:PolicyException" name="PolicyException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="findCustomerEventPaginatedList">
      <WL5G3N0:input message="WL5G3N4:findCustomerEventPaginatedList"/>
      <WL5G3N0:output message="WL5G3N4:findCustomerEventPaginatedListResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
      <WL5G3N0:fault message="WL5G3N4:PolicyException" name="PolicyException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ping">
      <WL5G3N0:input message="WL5G3N4:ping"/>
      <WL5G3N0:output message="WL5G3N4:pingResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
      <WL5G3N0:fault message="WL5G3N4:PolicyException" name="PolicyException"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ConsumerDiaryService_v1_1_SOAP" type="WL5G3N4:ConsumerDiaryService_v1_1_PortType">
    <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="createCustomerEvent">
      <WL5G3N0:documentation>
			Creates a new customer event in the Customer Diary.
		</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="createCustomerEvent"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
      <WL5G3N0:fault name="PolicyException">
        <WL5G3N5:fault name="PolicyException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="updateCustomerEventList">
      <WL5G3N0:documentation>
			Updates existing the highlight and record retention attributes on existing customer events.
		</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="updateCustomerEventList"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
      <WL5G3N0:fault name="PolicyException">
        <WL5G3N5:fault name="PolicyException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="findCustomerEventSummaryList">
      <WL5G3N0:documentation>
			Retrieves customer events used for the Diary Summary section of Desktop One
		</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="findCustomerEventSummaryList"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
      <WL5G3N0:fault name="PolicyException">
        <WL5G3N5:fault name="PolicyException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="findCustomerEventDetailList">
      <WL5G3N0:documentation>
			Retrieves customer events from the Customer Diary based on specified search criteria.
		</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="findCustomerEventDetailList"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
      <WL5G3N0:fault name="PolicyException">
        <WL5G3N5:fault name="PolicyException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="findCustomerEventPaginatedList">
      <WL5G3N0:documentation>
			Enhanced version of findCustomerEventDetailList which includes 
			pagination and keyword search
		</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="findCustomerEventPaginatedList"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
      <WL5G3N0:fault name="PolicyException">
        <WL5G3N5:fault name="PolicyException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ping">
      <WL5G3N0:documentation>
      
      
        
      
      
        
      
      
        
      
      
        
      
    
  
  
    
      
    
  
</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="ping"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
      <WL5G3N0:fault name="PolicyException">
        <WL5G3N5:fault name="PolicyException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ConsumerDiaryService_v1_1">
    <WL5G3N0:port binding="WL5G3N4:ConsumerDiaryService_v1_1_SOAP" name="ConsumerDiaryServicePort">
      <WL5G3N5:address location="http://cm-custinfomgmt-west-dv01.tsl.telus.com/CMO/InformationMgmt/Diary/ConsumerDiaryService_v1_0"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>