crd-esb-deploy/crda-esb/src/main/osb_11g_code/telus-crd-crda-esb/wsdls/DepositManagementService_v1_0.wsdl

<WL5G3N0:definitions targetNamespace="http://telus.com/wsdl/CMO/BillingAccountMgmt/DepositManagementService_1" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/DepositManagementServiceRequestResponse_v1" xmlns:WL5G3N2="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2" xmlns:WL5G3N3="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" xmlns:WL5G3N4="http://telus.com/wsdl/CMO/BillingAccountMgmt/DepositManagementService_1" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xs:schema targetNamespace="http://telus.com/wsdl/CMO/BillingAccountMgmt/DepositManagementService_1" xmlns:dms="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/DepositManagementServiceRequestResponse_v1" xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" xmlns:iface="http://telus.com/wsdl/CMO/BillingAccountMgmt/DepositManagementService_1" xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2" xmlns:shttp="http://soa.com/wsdl/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/DepositManagementServiceRequestResponse_v1" schemaLocation="DepositManagementServiceRequestResponse_v1_0.xsd"/>
      <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" schemaLocation="Exceptions_v1_0.xsd"/>
      <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2" schemaLocation="ping_v2.xsd"/>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="createDeposit">
    <WL5G3N0:part element="WL5G3N1:createDeposit" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="createDepositResponse">
    <WL5G3N0:part element="WL5G3N1:createDepositResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="cancelDeposit">
    <WL5G3N0:part element="WL5G3N1:cancelDeposit" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="cancelDepositResponse">
    <WL5G3N0:part element="WL5G3N1:cancelDepositResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="searchDeposit">
    <WL5G3N0:part element="WL5G3N1:searchDeposit" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="searchDepositResponse">
    <WL5G3N0:part element="WL5G3N1:searchDepositResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ping">
    <WL5G3N0:part element="WL5G3N2:ping" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="pingResponse">
    <WL5G3N0:part element="WL5G3N2:pingResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ServiceException">
    <WL5G3N0:part element="WL5G3N3:ServiceException" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="DepositManagementService_v1_0_PortType">
    <WL5G3N0:operation name="createDeposit">
      <WL5G3N0:input message="WL5G3N4:createDeposit"/>
      <WL5G3N0:output message="WL5G3N4:createDepositResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="cancelDeposit">
      <WL5G3N0:input message="WL5G3N4:cancelDeposit"/>
      <WL5G3N0:output message="WL5G3N4:cancelDepositResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="searchDeposit">
      <WL5G3N0:input message="WL5G3N4:searchDeposit"/>
      <WL5G3N0:output message="WL5G3N4:searchDepositResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ping">
      <WL5G3N0:input message="WL5G3N4:ping"/>
      <WL5G3N0:output message="WL5G3N4:pingResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="DepositManagementService_v1_0_SOAP" type="WL5G3N4:DepositManagementService_v1_0_PortType">
    <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="createDeposit">
      <WL5G3N0:documentation>Creates a deposit invoice in the Enabler-AR for the input pay channel and deposit context. Returns the corresponding invoiceId and request amount. If the deposit already exists for such pay channel and context then simply returns the corresponding invoiceId and corresponding amount</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="createDeposit"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="cancelDeposit">
      <WL5G3N0:documentation>Cancels the deposit corresponding to input invoice. If the deposit does not exist or is already paid then throws an exception</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="cancelDeposit"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="searchDeposit">
      <WL5G3N0:documentation>Searches and returns deposits corresponding to input accountId and other optional parameters. Maximum number of deposits that will be retunred is limited by a configuration parameter in Enabler-AR</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="searchDeposit"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ping">
      <WL5G3N0:documentation>
      
      
        
      
      
        
      
      
        
      
    
  
  
    
      
    
  
  
</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="ping"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="DepositManagementService_v1_0">
    <WL5G3N0:port binding="WL5G3N4:DepositManagementService_v1_0_SOAP" name="DepositManagementServicePort">
      <WL5G3N5:address location="http://cm-consumersvc-west-dv03.tsl.telus.com/v1/cmo/billingaccountmgmt/compass/dms/depositmanagementservice-v1-0"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>