crd-esb-deploy/crda-esb/src/main/osb_11g_code/telus-crd-crda-esb/wsdls/TRB_TRX_OPEN_REOPEN_BA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by TELUS COMMUNICATIONS (TELUS) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TRB_TRX">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HEADER" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="TransactionCode" type="xs:string"/>
						<xs:attribute name="RoutingId" type="xs:string"/>
						<xs:attribute name="ReqNotf" type="xs:string"/>
						<xs:attribute name="PublisherApplThreadID" type="xs:string"/>
						<xs:attribute name="PublisherApplID" type="xs:string"/>
						<xs:attribute name="IssueDate" type="xs:dateTime"/>
						<xs:attribute name="EntityType" type="xs:string"/>
						<xs:attribute name="EntityId" type="xs:long"/>
						<xs:attribute name="EffectiveDate" type="xs:dateTime"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="DATA" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CmHeaderTransaction" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TransactionRsn" type="xs:string" minOccurs="0"/>
										<xs:element name="TransactionId" type="xs:string" minOccurs="0"/>
										<xs:element name="ActivityPath" type="xs:string" minOccurs="0"/>
										<xs:element name="ActivityPcn" minOccurs="0">
											<xs:complexType/>
										</xs:element>
										<xs:element name="WaiveIndicator" type="xs:string" minOccurs="0"/>
										<xs:element name="WaiveReason" minOccurs="0">
											<xs:complexType/>
										</xs:element>
										<xs:element name="ActivityGroupId" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="OpenBillingArrangement" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BillingArrangement" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BillingArrangementStatusInfo" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="BillingArrangementStatus" type="xs:string" minOccurs="0"/>
																<xs:element name="StatusDate" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="OpenDate" type="xs:dateTime" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="BillingArrangementContext" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CustomerNo" type="xs:long" minOccurs="0"/>
																<xs:element name="AccountNo" type="xs:string" minOccurs="0"/>
																<xs:element name="BillingArrangementNo" type="xs:string" minOccurs="0"/>
																<xs:element name="BusinessEntityId" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="OpenPayChannel" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PayChannel" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PayChannelPaymentCategoryInfo" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PaymentCategory" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PayChannelPaymentMethodInfo" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PaymentMethod" type="xs:string" minOccurs="0"/>
																<xs:element name="PaymentType" type="xs:string" minOccurs="0"/>
																<xs:element name="IssueDate" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="BankCode" minOccurs="0">
																	<xs:complexType/>
																</xs:element>
																<xs:element name="BankAccountNo" minOccurs="0">
																	<xs:complexType/>
																</xs:element>
																<xs:element name="BankAccountType" minOccurs="0">
																	<xs:complexType/>
																</xs:element>
																<xs:element name="BankBranchNo" minOccurs="0">
																	<xs:complexType/>
																</xs:element>
																<xs:element name="CreditCardType" minOccurs="0">
																	<xs:complexType/>
																</xs:element>
																<xs:element name="CreditCardNo" minOccurs="0">
																	<xs:complexType/>
																</xs:element>
																<xs:element name="CreditCardExpirationDate" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="Pin" minOccurs="0">
																	<xs:complexType/>
																</xs:element>
																<xs:element name="PaymentMeansOwnerDetails" minOccurs="0">
																	<xs:complexType/>
																</xs:element>
																<xs:element name="RecurringFrequency" minOccurs="0">
																	<xs:complexType/>
																</xs:element>
																<xs:element name="RecurringFrequencyValue" minOccurs="0">
																	<xs:complexType/>
																</xs:element>
																<xs:element name="RecurringAmount" minOccurs="0">
																	<xs:complexType/>
																</xs:element>
																<xs:element name="L9MaxAmount" type="xs:string" minOccurs="0"/>
																<xs:element name="L9CC4Digit" type="xs:string" minOccurs="0"/>
																<xs:element name="L9SuspendInd" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PayChannelStatusInfo" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PayChannelStatus" type="xs:string" minOccurs="0"/>
																<xs:element name="StatusDate" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="OpenDate" type="xs:dateTime" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PayChannelContext" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CustomerNo" type="xs:long" minOccurs="0"/>
																<xs:element name="AccountNo" type="xs:string" minOccurs="0"/>
																<xs:element name="BillingArrangementNo" type="xs:string" minOccurs="0"/>
																<xs:element name="PayChannelNo" type="xs:string" minOccurs="0"/>
																<xs:element name="BusinessEntityId" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RpmPolicyInfo" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RpmPolicyCode" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RTCustTpPymDueDayInfo" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CustomerType" type="xs:string" minOccurs="0"/>
													<xs:element name="PymMethod" type="xs:string" minOccurs="0"/>
													<xs:element name="BillDueDays" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>