crd-esb-deploy/crda-esb/src/main/osb_11g_code/telus-crd-crda-esb/wsdls/WLNCreditProfileManagementProxyService_v2_0.wsdl

<WL5G3N0:definitions name="WLNCreditProfileManagementProxyService_v2_0.wsdl" targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WLNCreditProfileManagementProxyService_2" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCreditProfileManagementProxyServiceRequestResponse_v2" xmlns:WL5G3N2="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:WL5G3N3="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" xmlns:WL5G3N4="http://telus.com/wsdl/CMO/OrderMgmt/WLNCreditProfileManagementProxyService_2" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:documentation>WLN CreditProfileManagement Proxy Service. Service  provides operations to assess credit worthiness.</WL5G3N0:documentation>
  <WL5G3N0:types>
    <xs:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WLNCreditProfileManagementProxyService_2" xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/WLNCreditProfileManagementProxyService_2" xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:rtca="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCreditProfileManagementProxyServiceRequestResponse_v2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCreditProfileManagementProxyServiceRequestResponse_v2" schemaLocation="WLNCreditProfileManagementProxyServiceRequestResponse_v2_0.xsd"/>
      <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" schemaLocation="Exceptions_v1_0.xsd"/>
      <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" schemaLocation="ping_v1.xsd"/>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="assessCreditWorthiness">
    <WL5G3N0:part element="WL5G3N1:assessCreditWorthiness" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="assessCreditWorthinessResponse">
    <WL5G3N0:part element="WL5G3N1:assessCreditWorthinessResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="overrideCreditWorthiness">
    <WL5G3N0:part element="WL5G3N1:overrideCreditWorthiness" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="overrideCreditWorthinessResponse">
    <WL5G3N0:part element="WL5G3N1:overrideCreditWorthinessResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ping">
    <WL5G3N0:part element="WL5G3N2:ping" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="pingResponse">
    <WL5G3N0:part element="WL5G3N2:pingResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ServiceException">
    <WL5G3N0:part element="WL5G3N3:ServiceException" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="PolicyException">
    <WL5G3N0:part element="WL5G3N3:PolicyException" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="WLNCreditProfileManagementProxyService_v2_0_PortType">
    <WL5G3N0:operation name="assessCreditWorthiness">
      <WL5G3N0:input message="WL5G3N4:assessCreditWorthiness"/>
      <WL5G3N0:output message="WL5G3N4:assessCreditWorthinessResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
      <WL5G3N0:fault message="WL5G3N4:PolicyException" name="PolicyException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="overrideCreditWorthiness">
      <WL5G3N0:input message="WL5G3N4:overrideCreditWorthiness"/>
      <WL5G3N0:output message="WL5G3N4:overrideCreditWorthinessResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
      <WL5G3N0:fault message="WL5G3N4:PolicyException" name="PolicyException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ping">
      <WL5G3N0:input message="WL5G3N4:ping"/>
      <WL5G3N0:output message="WL5G3N4:pingResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
      <WL5G3N0:fault message="WL5G3N4:PolicyException" name="PolicyException"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="WLNCreditProfileManagementProxyService_v2_0_SOAP" type="WL5G3N4:WLNCreditProfileManagementProxyService_v2_0_PortType">
    <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="assessCreditWorthiness">
      <WL5G3N0:documentation>Operation to assess customer's credit worthiness for wln customer.</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="assessCreditWorthiness"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
      <WL5G3N0:fault name="PolicyException">
        <WL5G3N5:fault name="PolicyException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="overrideCreditWorthiness">
      <WL5G3N0:documentation>Operation to override customer's credit worthiness for wln customer.</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="overrideCreditWorthiness"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
      <WL5G3N0:fault name="PolicyException">
        <WL5G3N5:fault name="PolicyException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ping">
      <WL5G3N0:documentation>
      
      
        
      
      
        
      
      
        
      
      
        
      
    
  
  
    
      
    
  
  
</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="ping"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
      <WL5G3N0:fault name="PolicyException">
        <WL5G3N5:fault name="PolicyException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="WLNCreditProfileManagementProxyService_v2_0">
    <WL5G3N0:port binding="WL5G3N4:WLNCreditProfileManagementProxyService_v2_0_SOAP" name="WLNCreditProfileManagementProxyServicePort">
      <WL5G3N5:address location="http://customermanagementwestesb-dv01.tsl.telus.com/CMO/OrderMgmt/WLNCreditProfileManagementProxy/WLNCreditProfileManagementProxyService_v2_0"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>