crd-esb-deploy/crda-esb/src/main/osb_11g_code/telus-crd-crda-esb/wsdls/WLNCreditProfileDataManagementServiceRequestResponse_v1_3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCreditProfileDataManagementServiceRequestResponse_v1" version="1.0" xmlns:cp="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/WirelineCreditProfileManagementTypes_v2" xmlns:crdc="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/CreditCommon_v1" xmlns:cus="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/CustomerManagementCommonTypes_v4" xmlns:ecrda="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/EnterpriseCreditAssessmentTypes_v2" xmlns:ect="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/EnterpriseCommonTypes_v6" xmlns:tns="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCreditProfileDataManagementServiceRequestResponse_v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/WirelineCreditProfileManagementTypes_v2" schemaLocation="WirelineCreditProfileManagementTypes_v2_1.xsd"/>
    <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/CreditCommon_v1" schemaLocation="CreditCommon_v1_1.xsd"/>
    <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/EnterpriseCommonTypes_v6" schemaLocation="EnterpriseCommonTypes_v6_0.xsd"/>
    <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/CustomerManagementCommonTypes_v4" schemaLocation="CustomerManagementCommonTypes_v4_0.xsd"/>
    <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/EnterpriseCreditAssessmentTypes_v2" schemaLocation="EnterpriseCreditAssessmentTypes_v2_0.xsd"/>
    <xs:element name="updateCreditProfile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="creditProfile" type="crdc:CreditProfileData"/>
                <xs:element minOccurs="0" name="removeWLNCreditIdentificationInfo" type="tns:RemoveWLNCreditIdentificationInfo">
                    <xs:annotation>
                        <xs:documentation>  1. It indicates removal of
                            credit ids ( Driving License, SIN, Health
                            Card, Passport and Provincial Id ). This
                            will expire the indicated credit id in the
                            WLN system.  2. If credit id is marked to be
                            removed in this structure then that credit
                            id should not be populated under the
                            CreditProfileData.creditIdentification
                            structure.  3. As a result of update or
                            remove of credit ids, WLN system will
                            rebuild the linked customers based upon
                            remaining credit ids.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="creditValueCd" type="crdc:creditValueCodeType"/>
                <xs:element minOccurs="0" name="fraudIndicatorCd" type="crdc:fraudIndicatorType"/>
                <xs:element name="auditInfo" type="ect:AuditInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateCreditProfileResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateCreditWorthiness">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="creditAssessmentTransactionResult" type="ecrda:CreditAssessmentTransaction"/>
                <xs:element name="auditInfo" type="ect:AuditInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateCreditWorthinessResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="RemoveWLNCreditIdentificationInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="removeDriverLicenseInd" type="xs:boolean"/>
            <xs:element minOccurs="0" name="removeSinInd" type="xs:boolean"/>
            <xs:element minOccurs="0" name="removeHealthCardInd" type="xs:boolean"/>
            <xs:element minOccurs="0" name="removePassportInd" type="xs:boolean"/>
            <xs:element minOccurs="0" name="removeProvincialIdCardInd" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>