crd-esb-deploy/crda-esb/src/main/osb_11g_code/telus-crd-crda-esb/wsdls/WLNCollectionManagementService_v1_0.wsdl

<WL5G3N0:definitions name="WLNCollectionManagementService_v1_0.wsdl" targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WLNCollectionManagementService_1" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCollectionManagementServiceRequestResponse_v1" xmlns:WL5G3N2="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:WL5G3N3="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" xmlns:WL5G3N4="http://telus.com/wsdl/CMO/OrderMgmt/WLNCollectionManagementService_1" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:documentation>Provides operations to manage Wireline Collection Management.</WL5G3N0:documentation>
  <WL5G3N0:types>
    <xs:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WLNCollectionManagementService_1" xmlns:cp="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCollectionManagementServiceRequestResponse_v1" xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/WLNCollectionManagementService_1" xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCollectionManagementServiceRequestResponse_v1" schemaLocation="WLNCollectionManagementServiceRequestResponse_v1_0.xsd"/>
      <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" schemaLocation="Exceptions_v1_0.xsd"/>
      <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" schemaLocation="ping_v1.xsd"/>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="getCollectionIndicatorByCustomerId">
    <WL5G3N0:part element="WL5G3N1:getCollectionIndicatorByCustomerId" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getCollectionIndicatorByCustomerIdResponse">
    <WL5G3N0:part element="WL5G3N1:getCollectionIndicatorByCustomerIdResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getCustomerCollectionData">
    <WL5G3N0:part element="WL5G3N1:getCustomerCollectionData" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getCustomerCollectionDataResponse">
    <WL5G3N0:part element="WL5G3N1:getCustomerCollectionDataResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ping">
    <WL5G3N0:part element="WL5G3N2:ping" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="pingResponse">
    <WL5G3N0:part element="WL5G3N2:pingResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ServiceException">
    <WL5G3N0:part element="WL5G3N3:ServiceException" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="PolicyException">
    <WL5G3N0:part element="WL5G3N3:PolicyException" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="WLNCollectionManagementService_v1_0_PortType">
    <WL5G3N0:operation name="getCollectionIndicatorByCustomerId">
      <WL5G3N0:input message="WL5G3N4:getCollectionIndicatorByCustomerId"/>
      <WL5G3N0:output message="WL5G3N4:getCollectionIndicatorByCustomerIdResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
      <WL5G3N0:fault message="WL5G3N4:PolicyException" name="PolicyException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="getCustomerCollectionData">
      <WL5G3N0:input message="WL5G3N4:getCustomerCollectionData"/>
      <WL5G3N0:output message="WL5G3N4:getCustomerCollectionDataResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
      <WL5G3N0:fault message="WL5G3N4:PolicyException" name="PolicyException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ping">
      <WL5G3N0:input message="WL5G3N4:ping"/>
      <WL5G3N0:output message="WL5G3N4:pingResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
      <WL5G3N0:fault message="WL5G3N4:PolicyException" name="PolicyException"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="WLNCollectionManagementService_v1_0_SOAP" type="WL5G3N4:WLNCollectionManagementService_v1_0_PortType">
    <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="getCollectionIndicatorByCustomerId">
      <WL5G3N0:documentation>This service operation retrieves collection indicator at a customer level. It retrieves all the billing accounts for the customer and then if any of the active accounts is in collection then collection indicator will be set.
		</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="getCollectionIndicatorByCustomerId"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
      <WL5G3N0:fault name="PolicyException">
        <WL5G3N5:fault name="PolicyException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="getCustomerCollectionData">
      <WL5G3N0:documentation>This service operation summarizes collection data at a customer level.(FR644117)
		Logic to aggregate account level data
		    Collection Indicator - if any of the active accounts is in collection then this flag will be set.
		    Latest Collection Start Date
		    Latest Collection End Date 

		    BDS Score - If no active accounts exists for that customer  -  use latest closed account score, for Monthly re-assessment batch process customers with no active accounts will not be part of re-assessment. If at least one active account take worst BDS score across all of the open accounts for that customer.

		    # external agency assigned accounts (Count only accounts assigned or sold to external agency. Assigned to external agency accounts should be assigned within last 24 month with Current AR balance greater than 0$. Sold to external agency accounts should be sold within last 36 month and aggregated Agency Assignment Amount across all these accounts should be greater than 100$.)

		    Total Current AR Balance owing on external agency assigned accounts
		    Date of most recent external agency assignment
		    
		    # involuntary cancelled accounts (Aggregate data on involuntary cancelled accounts within last 24 month.)
		    Date of most recent involuntary cancelled account
		    Balance owing on involuntary cancelled accounts 
  		</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="getCustomerCollectionData"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
      <WL5G3N0:fault name="PolicyException">
        <WL5G3N5:fault name="PolicyException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ping">
      <WL5G3N0:documentation>
      
      
        
      
      
        
      
      
        
      
      
        
      
    
  
  
    
      
    
  
</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="ping"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
      <WL5G3N0:fault name="PolicyException">
        <WL5G3N5:fault name="PolicyException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="WLNCollectionManagementService_v1_0">
    <WL5G3N0:port binding="WL5G3N4:WLNCollectionManagementService_v1_0_SOAP" name="WLNCollectionManagementServicePort">
      <WL5G3N5:address location="http://custmgtbillsvcwest-dv01.tsl.telus.com/CMO/OrderMgmt/WLNCollectionManagement/WLNCollectionManagementService_v1_0"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>