crd-esb-deploy/crda-esb/src/main/osb_11g_code/telus-crd-crda-esb/wsdls/WLNCreditProfileManagementProxyServiceRequestResponse_v2_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCreditProfileManagementProxyServiceRequestResponse_v2" version="2.0" xmlns:crdc="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/CreditCommon_v1" xmlns:cus="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/CustomerManagementCommonTypes_v4" xmlns:ect="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/EnterpriseCommonTypes_v7" xmlns:tns="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCreditProfileManagementProxyServiceRequestResponse_v2" xmlns:wcpmt="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/WirelineCreditProfileManagementTypes_v2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/CustomerManagementCommonTypes_v4" schemaLocation="CustomerManagementCommonTypes_v4_0.xsd"/>
    <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/EnterpriseCommonTypes_v7" schemaLocation="EnterpriseCommonTypes_v7_0.xsd"/>
    <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/CreditCommon_v1" schemaLocation="CreditCommon_v1_1.xsd"/>
    <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/WirelineCreditProfileManagementTypes_v2" schemaLocation="WirelineCreditProfileManagementTypes_v2_1.xsd"/>
    <xs:element name="assessCreditWorthiness">
        <xs:annotation>
            <xs:documentation>Operation to assess customer's credit
                worthiness for wln customer</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="assessCreditWorthinessRequest" type="tns:BaseCreditWorthinessRequest">
                    <xs:annotation>
                        <xs:documentation>Abstract type. See the
                            concrete subtypes .</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="auditInfo" type="ect:AuditInfo">
                    <xs:annotation>
                        <xs:documentation>userId: is required with
                            AgentID as value. Required for tracking
                            info. orignatorApplicationId : is required .
                            It is the same as ApplicationID  with caller
                            application id CMDB ID as value</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="assessCreditWorthinessResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="assessedCreditWorthiness">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="wcpmt:CreditWorthiness">
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="updateCreditWorthinessErrorCd" type="xs:string"/>
                                    <xs:element minOccurs="0" name="creditBureauReportInd" type="xs:boolean"/>
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType abstract="true" name="BaseCreditWorthinessRequest">
        <xs:annotation>
            <xs:documentation>Abstract parent  type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="creditAssessmentTypeCd" type="crdc:creditAssessmentRequestType">
                <xs:annotation>
                    <xs:documentation>credit assessment type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="creditAssessmentSubTypeCd" type="crdc:creditAssessmentRequestSubType">
                <xs:annotation>
                    <xs:documentation>credit assessment sub type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="customerID" type="xs:long"/>
            <xs:element minOccurs="0" name="commentTxt" type="xs:string">
                <xs:annotation>
                    <xs:documentation>mandatory for type subtype
                        FULL_ASSESSMENT   -GET_BUREAU_DATA
                        -MANUAL_ASSESSMENT   OVRD_ASSESSMENT
                        -MANUAL_OVERRIDE -AUDIT BUREAU_CONSENT</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="applicationID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>CMDB ID as value</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="channelID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>channel type cd, kios,dealer id,..</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lineOfBusiness" type="crdc:lineOfBusinessType">
                <xs:annotation>
                    <xs:documentation>WIRELINE or WIRELESS .  values are
                        defined in Ref .Pds</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType mixed="false" name="AssessCreditWorthinessRequest">
        <xs:annotation>
            <xs:documentation>  Concrete type of
                BaseCreditWorthinessRequest abstract type. It covers :
                type  FULL_ASSESSMENT  and  subtypes  AUTO_ASSESSMENT/
                NEW_ACC_ASSESSMENT/ REOPEN_ASSESSMENT /
                MANUAL_ASSESSMENT       </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="tns:BaseCreditWorthinessRequest"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="false" name="GetBureuaReportCreditWorthinessRequest">
        <xs:annotation>
            <xs:documentation> Concrete type of
                AssessCreditWorthinessRequestType abstract type. It
                covers :   subtype  GET_BUREAU_DATA    </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="tns:BaseCreditWorthinessRequest">
                <xs:sequence>
                    <xs:element name="creditCustomerInfo" type="crdc:CreditCustomerInfo"/>
                    <xs:element name="creditProfileData" type="wcpmt:ConsumerCreditProfile"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="overrideCreditWorthiness">
        <xs:annotation>
            <xs:documentation>Operation to override customer's credit
                worthiness for wln customer.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="overrideCreditWorthinessRequest" type="tns:OverrideCreditWorthinessRequest">
                    <xs:annotation>
                        <xs:documentation>see  documentation in
                            OverrideCreitWorthinessRequest type</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="auditInfo" type="ect:AuditInfo">
                    <xs:annotation>
                        <xs:documentation>userId: is required with
                            AgentID as value. Required for tracking
                            info. orignatorApplicationId : is required .
                            It is the same as ApplicationID  with caller
                            application id CMDB ID as value</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="overrideCreditWorthinessResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="overridenCreditWorthiness">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="wcpmt:CreditWorthiness">
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="updateCreditWorthinessErrorCd" type="xs:string"/>
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType mixed="false" name="OverrideCreditWorthinessRequest">
        <xs:annotation>
            <xs:documentation> Covers  type  OVRD_ASSESSMENT  and
                subtypes  MANUAL_OVERRIDE / BUREAU_CONSENT / UNMERGED /
                CANCEL_DEPOSIT_INV / DEPOSIT_DOWNGRADE type AUDIT  and
                subtype BUREAU_CONSENT   </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
            <xs:extension base="tns:BaseCreditWorthinessRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="newFraudIndictorCd" type="crdc:fraudIndicatorType"/>
                    <xs:element minOccurs="0" name="newCreditValueCd" type="crdc:creditValueCodeType"/>
                    <xs:element minOccurs="0" name="newCreditCheckConsentCd" type="crdc:creditCheckConsentCodeType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>