orderdepositcal-ws-deploy/orderproxy-wsdl/src/main/resources/wsdls/OrderDepositCalculatorProxyService_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/OrderDepositCalculatorProxyService_1"
                  xmlns:ODCP="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/OrderDepositCalculatorProxyServiceRequestResponse_v1"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/OrderDepositCalculatorProxyService_1"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/OrderDepositCalculatorProxyService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/OrderDepositCalculatorProxyServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/OrderDepositCalculatorProxyServiceRequestResponse_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="calculateDeposit">
      <wsdl:part name="parameters" element="ODCP:calculateDeposit"/>
   </wsdl:message>
   <wsdl:message name="calculateDepositResponse">
      <wsdl:part name="result" element="ODCP:calculateDepositResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="OrderDepositCalculatorProxyService_v1_0_PortType">
      <wsdl:operation name="calculateDeposit">
         <wsdl:input message="iface:calculateDeposit"/>
         <wsdl:output message="iface:calculateDepositResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="OrderDepositCalculatorProxyService_v1_0_SOAP"
                 type="iface:OrderDepositCalculatorProxyService_v1_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="calculateDeposit">
         <wsdl:documentation>calculate deposit for a given order on requested products by customer</wsdl:documentation>
         <soap:operation soapAction="calculateDeposit"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="OrderDepositCalculatorProxyService_v1_0">
      <wsdl:port name="OrderDepositCalculatorProxyServicePort"
                 binding="iface:OrderDepositCalculatorProxyService_v1_0_SOAP">
         <soap:address location="http://customermanagementwestesb-dv01.tsl.telus.com/cmo/ordermgmt/orderdepositcalculatorproxyservice/orderdepositcalculatorproxyservice-v1-0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>