crd-esb-deploy/crda-esb/src/main/osb_11g_code/telus-crd-crda-esb/wsdls/TOCP/FindPartySplitJoin_v1_0.wsdl

<WL5G3N0:definitions targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/FindPartySplitJoin_1" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/FindPartySplitJoinRequestResponse_v1" xmlns:WL5G3N2="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:WL5G3N3="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3" xmlns:WL5G3N4="http://telus.com/wsdl/CMO/OrderMgmt/FindPartySplitJoin_1" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xs:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/FindPartySplitJoin_1" xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3" xmlns:gacd="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/FindPartySplitJoinRequestResponse_v1" xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/FindPartySplitJoin_1" xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:shttp="http://soa.com/wsdl/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/FindPartySplitJoinRequestResponse_v1" schemaLocation="FindPartySplitJoinRequestResponse_v1_0.xsd"/>
      <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3" schemaLocation="Exceptions_v3_0.xsd"/>
      <xs:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" schemaLocation="ping_v1.xsd"/>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="findPartyParallel">
    <WL5G3N0:part element="WL5G3N1:findPartyParallelRequest" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="findPartyParallelResponse">
    <WL5G3N0:part element="WL5G3N1:findPartyParallelResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ping">
    <WL5G3N0:part element="WL5G3N2:ping" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="pingResponse">
    <WL5G3N0:part element="WL5G3N2:pingResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ServiceException">
    <WL5G3N0:part element="WL5G3N3:ServiceException" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="FindPartySplitJoin_v1_0_PortType">
    <WL5G3N0:operation name="findPartyParallel">
      <WL5G3N0:input message="WL5G3N4:findPartyParallel"/>
      <WL5G3N0:output message="WL5G3N4:findPartyParallelResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ping">
      <WL5G3N0:input message="WL5G3N4:ping"/>
      <WL5G3N0:output message="WL5G3N4:pingResponse"/>
      <WL5G3N0:fault message="WL5G3N4:ServiceException" name="ServiceException"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="FindPartySplitJoin_v1_0_SOAP" type="WL5G3N4:FindPartySplitJoin_v1_0_PortType">
    <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="findPartyParallel">
      <WL5G3N0:documentation>Operation to return additional data required for performing an assessment.</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="findPartyParallel"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ping">
      <WL5G3N0:documentation>
      
      
        
      
      
        
      
      
        
      
    
  
  
    
      
    
  
  
</WL5G3N0:documentation>
      <WL5G3N5:operation soapAction="ping"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="result" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ServiceException">
        <WL5G3N5:fault name="ServiceException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="FindPartySplitJoin_v1_0">
    <WL5G3N0:port binding="WL5G3N4:FindPartySplitJoin_v1_0_SOAP" name="FindPartySplitJoinPort">
      <WL5G3N5:address location="http://customermanagementwestesb-dv01.tsl.telus.com/CMO/OrderMgmt/FindPartySplitJoin/FindPartySplitJoin_v1_0"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>