crd-esb-deploy/crda-esb/src/main/osb_11g_code/telus-crd-crda-esb/wsdls/TOCP/ProductTemplates.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    targetNamespace="http://www.ibm.com/telecom/templates/schema/business_interaction_extensions/v3_0"
    xmlns:bons0="http://www.ibm.com/telecom/templates/schema/business_interaction_extensions/v3_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="ProductChoice">
        <xsd:choice>
            <xsd:element name="ExistingPhoneNumberPortProduct" type="bons0:ExistingPhoneNumberPortProduct"/>
            <xsd:element name="NewPhoneNumberAllocationProduct" type="bons0:NewPhoneNumberAllocationProduct"/>
            <xsd:element name="CustomizeTVPackageProduct" type="bons0:CustomizeTVPackageProduct"/>
            <xsd:element name="TopPicksProduct" type="bons0:TopPicksProduct"/>
            <xsd:element name="BusinessInternetProduct" type="bons0:BusinessInternetProduct"/>
            <xsd:element name="ResidentialInternetProduct" type="bons0:ResidentialInternetProduct"/>
            <xsd:element name="MobileInternetProduct" type="bons0:MobileInternetProduct"/>
            <xsd:element name="DomainNameMediationProduct" type="bons0:DomainNameMediationProduct"/>
            <xsd:element name="DomainNameRegistrationProduct" type="bons0:DomainNameRegistrationProduct"/>
            <xsd:element name="WebsiteProduct" type="bons0:WebsiteProduct"/>
            <xsd:element name="eMailMailboxProduct" type="bons0:eMailMailboxProduct"/>
            <xsd:element name="BasicMobileVoiceProduct" type="bons0:BasicMobileVoiceProduct"/>
            <xsd:element name="BasicResidentialVoIPProduct" type="bons0:BasicResidentialVoIPProduct"/>
            <xsd:element name="ExampleVirtualCashProduct" type="bons0:ExampleVirtualCashProduct"/>
            <xsd:element name="VoiceMailBoxProduct" type="bons0:VoiceMailBoxProduct"/>
            <xsd:element name="ConnectivityLinkProduct" type="bons0:ConnectivityLinkProduct"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="ExistingPhoneNumberPortProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="PublishOnline" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NumberType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PublishInfo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PublishBook" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShieldNumber" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="NewPhoneNumberAllocationProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="PublishOnline" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NumberType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PublishInfo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PublishBook" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShieldNumber" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="CustomizeTVPackageProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="NumberOfTVs" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NetworkTechnology" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="TopPicksProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="NumberOfTVs" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NetworkTechnology" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="BusinessInternetProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="Transfer" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SelfInstallation" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DownstreamSpeed" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UpstreamSpeed" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NbrIPAddresses" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="ResidentialInternetProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="SelfInstallationOption" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DownstreamSpeed" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NetworkTechnology" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ModemSelection" type="xsd:string"/>
            <xsd:element minOccurs="0"
                name="IncrementalNumberOfeMailBoxes" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UpstreamSpeed" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NbrIPAddresses" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="MobileInternetProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="UpstreamSpeed" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PaymentMethod" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DownstreamSpeed" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Datalimit" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="DomainNameMediationProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="CompanyName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryDNSName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryDNSIPAddress" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SecondaryDNSName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SecondaryDNSIPAddress" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Remark" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="DomainNameRegistrationProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="DomainName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DomainType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="HostName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NewDomain" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DomainMediation" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Hosted" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="WebsiteProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="WebsiteType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Database" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MaxNumberOfeMailBoxes" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ExtraSpace" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WebsiteProfile" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="eMailMailboxProduct">
        <xsd:all>
            <xsd:element minOccurs="0"
                name="IncrementalNumberOfeMailBoxes" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="BasicMobileVoiceProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="IDD" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PaymentMethod" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InternationalRoaming" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="BasicResidentialVoIPProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="NetworkTechnology" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IDD" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="ExampleVirtualCashProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="VirtualPaymentMethod" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Pin" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AccountNumber" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="VoiceMailBoxProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="BoxSelectionDigit" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MaximumMessageDuration" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TotalMessageDuration" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OwnerName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="VoiceMailboxType" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="ConnectivityLinkProduct">
        <xsd:all>
            <xsd:element minOccurs="0" name="LocalFibreServingArea" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>