crd-esb-deploy/crda-esb/src/main/GenWsdlJar/wsdls/ConsumerBillingAccountDataManagementService_v2_3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:iface="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerBillingAccountDataManagementService_2" xmlns:bam="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/ConsumerBillingAccountDataMgmtSvcRequestResponse_v2" name="ConsumerBillingAccountDataManagementService_v2_3.wsdl" targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerBillingAccountDataManagementService_2">
	<wsdl:documentation>Provides the ability to insert/update billingaccount, paychannel and create customer together with billingaccount</wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerBillingAccountDataManagementService_2">
			<xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/ConsumerBillingAccountDataMgmtSvcRequestResponse_v2" schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/ConsumerBillingAccountDataMgmtSvcRequestResponse_v2_3.xsd"/>
			<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
			<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="insertBillingAccount">
		<wsdl:part name="parameters" element="bam:insertBillingAccount"/>
	</wsdl:message>
	<wsdl:message name="insertBillingAccountResponse">
		<wsdl:part name="result" element="bam:insertBillingAccountResponse"/>
	</wsdl:message>
	<wsdl:message name="updateBillingAccount">
		<wsdl:part name="parameters" element="bam:updateBillingAccount"/>
	</wsdl:message>
	<wsdl:message name="updateBillingAccountResponse">
		<wsdl:part name="result" element="bam:updateBillingAccountResponse"/>
	</wsdl:message>
	<wsdl:message name="updateBillingAccountStatus">
		<wsdl:part name="parameters" element="bam:updateBillingAccountStatus"/>
	</wsdl:message>
	<wsdl:message name="updateBillingAccountStatusResponse">
		<wsdl:part name="result" element="bam:updateBillingAccountStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="updateBillCycle">
		<wsdl:part name="parameters" element="bam:updateBillCycle"/>
	</wsdl:message>
	<wsdl:message name="updateBillCycleResponse">
		<wsdl:part name="result" element="bam:updateBillCycleResponse"/>
	</wsdl:message>
	<wsdl:message name="insertCustomerWithBillingAccount">
		<wsdl:part name="parameters" element="bam:insertCustomerWithBillingAccount"/>
	</wsdl:message>
	<wsdl:message name="insertCustomerWithBillingAccountResponse">
		<wsdl:part name="result" element="bam:insertCustomerWithBillingAccountResponse"/>
	</wsdl:message>
	<wsdl:message name="updatePayChannel">
		<wsdl:part name="parameters" element="bam:updatePayChannel"/>
	</wsdl:message>
	<wsdl:message name="updatePayChannelResponse">
		<wsdl:part name="result" element="bam:updatePayChannelResponse"/>
	</wsdl:message>
	<wsdl:message name="ping">
		<wsdl:part name="parameters" element="ping:ping"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="result" element="ping:pingResponse"/>
	</wsdl:message>
	<wsdl:message name="ServiceException">
		<wsdl:part name="fault" element="ex:ServiceException"/>
	</wsdl:message>
	<wsdl:message name="PolicyException">
		<wsdl:part name="fault" element="ex:PolicyException"/>
	</wsdl:message>
	<wsdl:portType name="ConsumerBillingAccountDataManagementService_v2_3_PortType">
		<wsdl:operation name="insertBillingAccount">
			<wsdl:input message="iface:insertBillingAccount"/>
			<wsdl:output message="iface:insertBillingAccountResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="updateBillingAccount">
			<wsdl:input message="iface:updateBillingAccount"/>
			<wsdl:output message="iface:updateBillingAccountResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="updateBillingAccountStatus">
			<wsdl:input message="iface:updateBillingAccountStatus"/>
			<wsdl:output message="iface:updateBillingAccountStatusResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="updateBillCycle">
			<wsdl:input message="iface:updateBillCycle"/>
			<wsdl:output message="iface:updateBillCycleResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="insertCustomerWithBillingAccount">
			<wsdl:input message="iface:insertCustomerWithBillingAccount"/>
			<wsdl:output message="iface:insertCustomerWithBillingAccountResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="updatePayChannel">
			<wsdl:input message="iface:updatePayChannel"/>
			<wsdl:output message="iface:updatePayChannelResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input message="iface:ping"/>
			<wsdl:output message="iface:pingResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ConsumerBillingAccountDataManagementService_v2_3_SOAP" type="iface:ConsumerBillingAccountDataManagementService_v2_3_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="insertBillingAccount">
			<wsdl:documentation>create new account</wsdl:documentation>
			<soap:operation soapAction="insertBillingAccount"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateBillingAccount">
			<wsdl:documentation>update billing account</wsdl:documentation>
			<soap:operation soapAction="updateBillingAccount"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateBillingAccountStatus">
			<wsdl:documentation>update a existing KB account's status</wsdl:documentation>
			<soap:operation soapAction="updateBillingAccountStatus"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateBillCycle">
			<wsdl:documentation>update a existing KB account's bill cycle code</wsdl:documentation>
			<soap:operation soapAction="updateBillCycle"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="insertCustomerWithBillingAccount">
			<wsdl:documentation>create customer with new billing account</wsdl:documentation>
			<soap:operation soapAction="insertCustomerWithBillingAccount"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updatePayChannel">
			<wsdl:documentation>update a existing pay channel</wsdl:documentation>
			<soap:operation soapAction="updatePayChannel"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:documentation/>
			<soap:operation soapAction="ping"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ConsumerBillingAccountDataManagementService_v2_3">
		<wsdl:port name="ConsumerBillingAccountDataManagementServicePort" binding="iface:ConsumerBillingAccountDataManagementService_v2_3_SOAP">
			<soap:address location="http://cm-custinfomgmt-west-dv01.tsl.telus.com/CMO/InformationMgmt/BillingAccountManagement/ConsumerBillingAccountDataManagementService_v2_3"/>
		</wsdl:port>
	</wsdl:service>
	<!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			-->
</wsdl:definitions>
