crd-esb-deploy/crda-esb/src/main/GenWsdlJar/wsdls/CreditGatewayService_v1_2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/CreditGatewayService_1"
                  xmlns:cg="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/CreditGatewayServiceRequestResponse_v1"
                  name="CreditGatewayService_v1_2.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/CreditGatewayService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>This service provides the services for pulling external credit report for customers.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/CreditGatewayService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/CreditGatewayServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/CreditGatewayServiceRequestResponse_v1_2.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="pullConsumerCreditReport">
      <wsdl:part name="parameters" element="cg:pullConsumerCreditReport"/>
   </wsdl:message>
   <wsdl:message name="pullConsumerCreditReportResponse">
      <wsdl:part name="result" element="cg:pullConsumerCreditReportResponse"/>
   </wsdl:message>
   <wsdl:message name="pullBusinessCreditReport">
      <wsdl:part name="parameters" element="cg:pullBusinessCreditReport"/>
   </wsdl:message>
   <wsdl:message name="pullBusinessCreditReportResponse">
      <wsdl:part name="result" element="cg:pullBusinessCreditReportResponse"/>
   </wsdl:message>
   <wsdl:message name="searchForBusinessSimilars">
      <wsdl:part name="parameters" element="cg:searchForBusinessSimilars"/>
   </wsdl:message>
   <wsdl:message name="searchForBusinessSimilarsResponse">
      <wsdl:part name="result" element="cg:searchForBusinessSimilarsResponse"/>
   </wsdl:message>
   <wsdl:message name="searchSimpleCorporateRegistryReports">
      <wsdl:part name="parameters" element="cg:searchSimpleCorporateRegistryReports"/>
   </wsdl:message>
   <wsdl:message name="searchSimpleCorporateRegistryReportsResponse">
      <wsdl:part name="result" element="cg:searchSimpleCorporateRegistryReportsResponse"/>
   </wsdl:message>
   <wsdl:message name="pullFullCorporateRegistryReport">
      <wsdl:part name="parameters" element="cg:pullFullCorporateRegistryReport"/>
   </wsdl:message>
   <wsdl:message name="pullFullCorporateRegistryReportResponse">
      <wsdl:part name="result" element="cg:pullFullCorporateRegistryReportResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="CreditGatewayService_v1_2_PortType">
      <wsdl:operation name="pullConsumerCreditReport">
         <wsdl:input message="iface:pullConsumerCreditReport"/>
         <wsdl:output message="iface:pullConsumerCreditReportResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="pullBusinessCreditReport">
         <wsdl:input message="iface:pullBusinessCreditReport"/>
         <wsdl:output message="iface:pullBusinessCreditReportResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="searchForBusinessSimilars">
         <wsdl:input message="iface:searchForBusinessSimilars"/>
         <wsdl:output message="iface:searchForBusinessSimilarsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="searchSimpleCorporateRegistryReports">
         <wsdl:input message="iface:searchSimpleCorporateRegistryReports"/>
         <wsdl:output message="iface:searchSimpleCorporateRegistryReportsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="pullFullCorporateRegistryReport">
         <wsdl:input message="iface:pullFullCorporateRegistryReport"/>
         <wsdl:output message="iface:pullFullCorporateRegistryReportResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CreditGatewayService_v1_2_SOAP"
                 type="iface:CreditGatewayService_v1_2_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="pullConsumerCreditReport">
         <wsdl:documentation>pull credit report from bureau for consumer customers</wsdl:documentation>
         <soap:operation soapAction="pullConsumerCreditReport"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="pullBusinessCreditReport">
         <wsdl:documentation>pull credit report from bureau for business customers</wsdl:documentation>
         <soap:operation soapAction="pullBusinessCreditReport"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="searchForBusinessSimilars">
         <wsdl:documentation>search for similar business accounts in bureau</wsdl:documentation>
         <soap:operation soapAction="searchForBusinessSimilars"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="searchSimpleCorporateRegistryReports">
         <wsdl:documentation>search for similar simple corporate registry reports</wsdl:documentation>
         <soap:operation soapAction="searchSimpleCorporateRegistryReports"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="pullFullCorporateRegistryReport">
         <wsdl:documentation>pull full croporate registry report</wsdl:documentation>
         <soap:operation soapAction="pullFullCorporateRegistryReport"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CreditGatewayService_v1_2">
      <wsdl:port name="CreditGatewayServicePort" binding="iface:CreditGatewayService_v1_2_SOAP">
         <soap:address location="http://ln98420.ent.agt.ab.ca:41111/telus-crd-gateway-webservices/CreditGatewayService/CMO/OrderMgmt/CreditGateway/CreditGatewayService_v1_2"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>