crd-esb-deploy/crda-esb/src/main/GenWsdlJar/wsdls/EnterpriseCreditAssessmentService_v2_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/EnterpriseCreditAssessmentService_2" xmlns:eCRDA="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/EnterpriseCreditAssessmentServiceRequestResponse_v2" name="EnterpriseCreditAssessmentService_v2_1.wsdl" targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/EnterpriseCreditAssessmentService_2">
	<wsdl:documentation>Real Time Credit Assessment(WLN CDA) . Enterprise Credit Assessment Service  provides operations to perform customer's credit assessment , maintain customer's credit assessment transactions.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/EnterpriseCreditAssessmentService_2">
			<xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/EnterpriseCreditAssessmentServiceRequestResponse_v2" 
			schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/EnterpriseCreditAssessmentServiceRequestResponse_v2_1.xsd"/>
			<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" 
			schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
			<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getCreditAssessment">
		<wsdl:part name="parameters" element="eCRDA:getCreditAssessment"/>
	</wsdl:message>
	<wsdl:message name="getCreditAssessmentResponse">
		<wsdl:part name="result" element="eCRDA:getCreditAssessmentResponse"/>
	</wsdl:message>
	<wsdl:message name="getCreditBureauDocument">
		<wsdl:part name="parameters" element="eCRDA:getCreditBureauDocument"/>
	</wsdl:message>
	<wsdl:message name="getCreditBureauDocumentResponse">
		<wsdl:part name="result" element="eCRDA:getCreditBureauDocumentResponse"/>
	</wsdl:message>
	<wsdl:message name="performCreditAssessment">
		<wsdl:part name="parameters" element="eCRDA:performCreditAssessment"/>
	</wsdl:message>
	<wsdl:message name="performCreditAssessmentResponse">
		<wsdl:part name="result" element="eCRDA:performCreditAssessmentResponse"/>
	</wsdl:message>
	<wsdl:message name="searchCreditAssessmentList">
		<wsdl:part name="parameters" element="eCRDA:searchCreditAssessmentList"/>
	</wsdl:message>
	<wsdl:message name="searchCreditAssessmentListResponse">
		<wsdl:part name="result" element="eCRDA:searchCreditAssessmentListResponse"/>
	</wsdl:message>
	<wsdl:message name="voidCreditAssessment">
		<wsdl:part name="parameters" element="eCRDA:voidCreditAssessment"/>
	</wsdl:message>
	<wsdl:message name="voidCreditAssessmentResponse">
		<wsdl:part name="result" element="eCRDA:voidCreditAssessmentResponse"/>
	</wsdl:message>
	<wsdl:message name="ping">
		<wsdl:part name="parameters" element="ping:ping"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="result" element="ping:pingResponse"/>
	</wsdl:message>
	<wsdl:message name="ServiceException">
		<wsdl:part name="fault" element="ex:ServiceException"/>
	</wsdl:message>
	<wsdl:message name="PolicyException">
		<wsdl:part name="fault" element="ex:PolicyException"/>
	</wsdl:message>
	<wsdl:portType name="EnterpriseCreditAssessmentService_v2_1_PortType">
		<wsdl:operation name="getCreditAssessment">
			<wsdl:input message="iface:getCreditAssessment"/>
			<wsdl:output message="iface:getCreditAssessmentResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="getCreditBureauDocument">
			<wsdl:input message="iface:getCreditBureauDocument"/>
			<wsdl:output message="iface:getCreditBureauDocumentResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="performCreditAssessment">
			<wsdl:input message="iface:performCreditAssessment"/>
			<wsdl:output message="iface:performCreditAssessmentResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="searchCreditAssessmentList">
			<wsdl:input message="iface:searchCreditAssessmentList"/>
			<wsdl:output message="iface:searchCreditAssessmentListResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="voidCreditAssessment">
			<wsdl:input message="iface:voidCreditAssessment"/>
			<wsdl:output message="iface:voidCreditAssessmentResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input message="iface:ping"/>
			<wsdl:output message="iface:pingResponse"/>
			<wsdl:fault name="ServiceException" message="iface:ServiceException"/>
			<wsdl:fault name="PolicyException" message="iface:PolicyException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EnterpriseCreditAssessmentService_v2_1_SOAP" type="iface:EnterpriseCreditAssessmentService_v2_1_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCreditAssessment">
			<wsdl:documentation>Operation to retrieve credit assessment result(output) and associated input attributes for a particular assessment id.</wsdl:documentation>
			<soap:operation soapAction="getCreditAssessment"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCreditBureauDocument">
			<wsdl:documentation>Operation to return human readable and xml reports associated to a credit bureau report ID.</wsdl:documentation>
			<soap:operation soapAction="getCreditBureauDocument"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="performCreditAssessment">
			<wsdl:documentation>Operation to assess customer's credit worthiness based on Customer Billing/AR ,Collection data, Credit business rules, External agency/bureau credit report ,.. to derive and store the customer's credit check result .</wsdl:documentation>
			<soap:operation soapAction="performCreditAssessment"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="searchCreditAssessmentList">
			<wsdl:documentation>Operation to search Credit Assessments based upon given search criteria.</wsdl:documentation>
			<soap:operation soapAction="searchCreditAssessmentList"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="voidCreditAssessment">
			<wsdl:documentation>Operation to void a credit assessment.</wsdl:documentation>
			<soap:operation soapAction="voidCreditAssessment"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:documentation/>
			<soap:operation soapAction="ping"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PolicyException">
				<soap:fault name="PolicyException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EnterpriseCreditAssessmentService_v2_1">
		<wsdl:port name="EnterpriseCreditAssessmentServicePort" binding="iface:EnterpriseCreditAssessmentService_v2_1_SOAP">
			<soap:address location="http://cm-creditmgmt-west-dv01.tsl.telus.com/CMO/OrderMgmt/EnterpriseCreditAssessment/EnterpriseCreditAssessmentService_v2_1"/>
		</wsdl:port>
	</wsdl:service>
	<!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			-->
</wsdl:definitions>
