crd-esb-deploy/crda-esb/src/main/GenWsdlJar/wsdls/GetUCAdditionalCustomerDataSplitJoin_v2_0_SOA_LM_Bindings.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/GetUCAdditionalCustomerDataSplitJoin_2"
                  xmlns:gacd="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/GetUCAdditionalCustomerDataSplitJoinRequestResponse"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/GetUCAdditionalCustomerDataSplitJoin_2"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/GetUCAdditionalCustomerDataSplitJoin_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/GetUCAdditionalCustomerDataSplitJoinRequestResponse"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/GetUCAdditionalCustomerDataSplitJoinRequestResponse.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="GetUCAdditionalCustomerData">
      <wsdl:part name="parameters" element="gacd:GetUCAdditionalCustomerData"/>
   </wsdl:message>
   <wsdl:message name="GetUCAdditionalCustomerDataResponse">
      <wsdl:part name="result" element="gacd:GetUCAdditionalCustomerDataResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="GetUCAdditionalCustomerDataSplitJoin_v2_0_PortType">
      <wsdl:operation name="GetUCAdditionalCustomerData">
         <wsdl:input message="iface:GetUCAdditionalCustomerData"/>
         <wsdl:output message="iface:GetUCAdditionalCustomerDataResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="GetUCAdditionalCustomerDataSplitJoin_v2_0_SOAP"
                 type="iface:GetUCAdditionalCustomerDataSplitJoin_v2_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetUCAdditionalCustomerData">
         <wsdl:documentation>Operation to return additional data required for performing an assessment.</wsdl:documentation>
         <soap:operation soapAction="GetUCAdditionalCustomerData"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="GetUCAdditionalCustomerDataSplitJoin_v2_0">
      <wsdl:port name="GetUCAdditionalCustomerDataSplitJoinPort"
                 binding="iface:GetUCAdditionalCustomerDataSplitJoin_v2_0_SOAP">
         <soap:address location="http://customermanagementwestesb-dv01.tsl.telus.com/CMO/OrderMgmt/GetUCAdditionalCustomerDataSplitJoin/GetUCAdditionalCustomerDataSplitJoin_v2_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>