crd-esb-deploy/crda-esb/src/main/GenWsdlJar/wsdls/WLSCreditManagementSvc_v2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/WLSCreditManagementSvc_2"
                  xmlns:wlscrdm="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLSCreditManagementSvcRequestResponse_v2"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WLSCreditManagementSvc_2"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WLSCreditManagementSvc_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLSCreditManagementSvcRequestResponse_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLSCreditManagementSvcRequestResponse_v2_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getCreditWorthiness">
      <wsdl:part name="parameters" element="wlscrdm:getCreditWorthiness"/>
   </wsdl:message>
   <wsdl:message name="getCreditWorthinessResponse">
      <wsdl:part name="result" element="wlscrdm:getCreditWorthinessResponse"/>
   </wsdl:message>
   <wsdl:message name="getCreditProfile">
      <wsdl:part name="parameters" element="wlscrdm:getCreditProfile"/>
   </wsdl:message>
   <wsdl:message name="getCreditProfileResponse">
      <wsdl:part name="result" element="wlscrdm:getCreditProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="updateConsumerCreditInformation">
      <wsdl:part name="parameters" element="wlscrdm:updateConsumerCreditInformation"/>
   </wsdl:message>
   <wsdl:message name="updateConsumerCreditInformationResponse">
      <wsdl:part name="result" element="wlscrdm:updateConsumerCreditInformationResponse"/>
   </wsdl:message>
   <wsdl:message name="validateCreditId">
      <wsdl:part name="parameters" element="wlscrdm:validateCreditId"/>
   </wsdl:message>
   <wsdl:message name="validateCreditIdResponse">
      <wsdl:part name="result" element="wlscrdm:validateCreditIdResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="WLSCreditManagementSvc_v2_0_PortType">
      <wsdl:operation name="getCreditWorthiness">
         <wsdl:input message="iface:getCreditWorthiness"/>
         <wsdl:output message="iface:getCreditWorthinessResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getCreditProfile">
         <wsdl:input message="iface:getCreditProfile"/>
         <wsdl:output message="iface:getCreditProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="updateConsumerCreditInformation">
         <wsdl:input message="iface:updateConsumerCreditInformation"/>
         <wsdl:output message="iface:updateConsumerCreditInformationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="validateCreditId">
         <wsdl:input message="iface:validateCreditId"/>
         <wsdl:output message="iface:validateCreditIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="WLSCreditManagementSvc_v2_0_SOAP"
                 type="iface:WLSCreditManagementSvc_v2_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getCreditWorthiness">
         <wsdl:documentation> The Operation enables retrieval of a wireless credit worthiness from wls credit mgmt database</wsdl:documentation>
         <soap:operation soapAction="getCreditWorthiness"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCreditProfile">
         <wsdl:documentation> The Operation enables retrieval of a wireless credit profile from wls credit mgmt database</wsdl:documentation>
         <soap:operation soapAction="getCreditProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateConsumerCreditInformation">
         <wsdl:documentation>The Operation enables updating Credit Information in wls credit mgmt database.</wsdl:documentation>
         <soap:operation soapAction="updateConsumerCreditInformation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="validateCreditId">
         <wsdl:documentation>The Operation checks for duplicate credit IDs in wls credit mgmt database and return true or false based on match.</wsdl:documentation>
         <soap:operation soapAction="validateCreditId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="WLSCreditManagementSvc_v2_0">
      <wsdl:port name="WLSCreditManagementSvcPort"
                 binding="iface:WLSCreditManagementSvc_v2_0_SOAP">
         <soap:address location="https://cmbilling-collectionmgmt-wls-dv103.tsl.telus.com/CMO/OrderMgmt/WLSCreditManagement/WLSCreditManagementSvc_v2_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>